body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #DE6262;
  background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);
  background: linear-gradient(to right, #FFB88C, #DE6262);

}