.ui.segment {
    margin: 2rem;
    padding: 2rem;
}

.ui.segment:first-child {
    margin-top: 2rem;
}

.ui.segment:last-child {
    margin-bottom: 2rem;
}

.legs-title {
    text-align: center;
}

.ui.cards {
    justify-content: space-between;
}

.ui.cards>.card {
    width: 140px;
}